{% extends 'base.html.twig' %}

{% block title %}New Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style_inscription.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    <h1>Create new Connexion</h1>

    {{ include('connexion/_form.html.twig') }}

    <a href="{{ path('connexion_index') }}">back to list</a>
{% endblock %}
