{% extends 'base.html.twig' %}

{% block title %}Genshin Impact Inscription :3{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style_inscription.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    <section id="Formulaire">
        <div class="formulaire contact">
          <h1>Inscription</h1>
          <form class="form" action="#" method="post">
            <label>UID <em>&#x2a;</em> :</label>
            <input type="text" name="nom" value="" placeholder="123456789" required>
            <label>Nom d'utilisateur <em>&#x2a;</em> :</label>
            <input type="text" name="prenom" value="" placeholder="example@mail.com" required>
            <label>Mot de passe <em>&#x2a;</em> :</label>
            <input type="text" name="password" value="" required>
            <br>
              <br>
              <i><em>&#x2a;</em> Champs Obligatoires</i>
            <button type="submit" name="button">M'inscrire</button>
          </form>
        </div>
      </section>
{% endblock %}
