{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style_inscription.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    <section id="Formulaire">
        <div class="formulaire">
            <h1>Inscription</h1>
            {{ include('inscription/_form.html.twig') }}
        </div>
    </section>

{% endblock %}
