<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Genshin Impact Accueil :-){% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        {% endblock %}

        {% block javascripts %}
            <link rel="javascript" href="{{ asset('javascript/script.js') }}" type="text/js"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <div><a href="/" ><img src="../../assets/pictures/logo.png" alt="logo" id="img"></a></div>
            <nav>
                <ul>
                    {%if app.user %}
                        <li><a href="/actualites">Actualités</a></li>
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/reseaux">Réseaux</a></li>
                        <li><a href="/logout">Se déconnecter</a></li>
                        {%if is_granted('ROLE_ADMIN') %}
                            <li><a href="/user">Utilisateurs</a></li>
                        {% endif %}
                    {%endif%}
                </ul>
            </nav>
        </header>
              <!-- Video in background with overlay text -->
        <section>
            <div class="movie">
            <video autoplay muted loop id="myVideo">
                <source src="../../assets/movie/MovieBackground.mp4" type="video/mp4">
            </video>
            </div>
            <!-- Text over background movie -->

        {% block body %}
            <div class="movieText">
                {%if app.user %}
                    <h1 id="uid">Bienvenue {{ app.user.uid }} ! <3</h1>
                    <p>C'est un plaisir de vous voir ! N'hésitez pas à consulter les dernières actualités et à voir les derniers posts de vos amis ! ^^</p>
                    <a href ="/actualites" class="button">Actualités</a>
                    <a href ="/posts" class="button">Posts</a>
                {%else%}
                    <h1>Bienvenue Voyageur !</h1>
                    <p>Voici le meilleur site communautaire de Genshin Impact ! N'hésite pas à t'inscrire pour commencer ou alors connecte toi si tu as déjà un compte ! :p</p>
                    <a href="/register" class="button">Inscription</a>
                    <a href="/login" class="button">Connexion</a>
                {%endif%}
            </div>
        </section>
        {% endblock %}
    </body>
</html>
